<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivamgarg.trashit">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrashIt">
        <activity
            android:name=".user.UserFeedback"
            android:exported="false" />
        <activity
            android:name=".user.UserReportProblem"
            android:exported="false" />
        <activity
            android:name=".user.UserProfile"
            android:exported="false" />
        <activity
            android:name=".common.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".common.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".user.UserDashBoard"
            android:exported="false" />
        <activity
            android:name=".common.OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>